<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="maximum-scale=1,minimum-scale=1,user-scalable=no, width=device-width, initial-scale=1.0">
    <meta name="author" content="hades" />
    <title>极溯链溯源平台</title>
    <link rel="stylesheet" href="css/weui.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/glightbox.css">

</head>

<body>
    <div class="page">
        <div class="template-header">
            <div class="template-btn">
                <a class="templatebtn" href="#">返回上一页</a>
            </div>
            <div class="template-title">
                极溯链模板预览
            </div>
        </div>
        <div class="device">
            <div class="device-screen">
                <div class="device-content">
                    <div class="aetos-hd">
                        <div class="aetos-logo">LOGO</div>
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                            </div>
                            <div class="weui-flex__item" id="product-title">
                                <!-- <p id="batch-num">这是百年雨生第2019批次第
                                    <span id="qr-num" style="font-weight: 600;">0</span> 盒
                                </p> -->
                            </div>
                        </div>
                    </div>
                    <div class="aetos-bd">
                        <div class="aetos-info">
                            <div class="aetos-info__flex" id="show-hash">
                                <div class="aetos-info__title">
                                    烟台XXXXXXXXXXXX公司
                                </div>
                                <!-- <div class="_item aetos-info__desc" id="hash">
                                </div> -->
                            </div>
                            <div class="aetos-info__flex" id="show-uuid">
                                <div class="aetos-info__title">
                                    区块链ID:&nbsp;234123412353454
                                </div>
                            </div>
                            <div class="aetos-info__flex" id="scan-num">
                                <div class="aetos-info__title">
                                    溯源查询次数:&nbsp;0&nbsp;&nbsp;最后查询位置:&nbsp;N/A
                                </div>
                            </div>
                        </div>

                        <div class="aetos-timeline">
                            <ul class="time-vertical" id="source-list">
                                
                                <!-- main.js添加，溯源后台上传内容 -->
                                <li>
                                    <div class="time-point"></div>
                                    <div class="aetos-timeline__content"> 
                                        <div class="aetos-timeline__tools"> 
                                            <span>酒厂环境</span> 
                                            <div class="weui-flex aetos-info__flex filehash">
                                                文件哈希值：
                                                <div class="file-hash">asdji56465ASDsdffgvasd324a</div>
                                            </div> 
                                            <p>创建日期：<span>2019-01-19</span></p> 
                                        </div> 
                                        <div class="aetos-timeline__source"> 
                                            <a href="http://pic.geekschain.cn/1%E9%85%92%E5%8E%82%E7%8E%AF%E5%A2%83.jpg" class="glightbox"> 
                                                <img src="http://pic.geekschain.cn/1%E9%85%92%E5%8E%82%E7%8E%AF%E5%A2%83.jpg" alt="gm1">
                                            </a> 
                                            <div class="aetos-timeline__location"> 
                                                <img src="images/loacation.png" alt="location" class="aetos-timeline__gps"> 
                                                <span style="color: #fff;">贵州省遵义仁怀市 茅台镇</span> 
                                            </div> 
                                        </div> 
                                    </div> 
                                </li>
                                 <li>
                                    <div class="time-point"></div>
                                    <div class="aetos-timeline__content"> 
                                        <div class="aetos-timeline__tools"> 
                                            <span>酒厂环境</span> 
                                            <div class="weui-flex aetos-info__flex filehash">
                                                文件哈希值：
                                                <div class="file-hash">asdji56465ASDsdffgvasd324a</div>
                                            </div> 
                                            <p>创建日期：<span>2019-01-19</span></p> 
                                        </div> 
                                        <div class="aetos-timeline__source"> 
                                            <a href="http://pic.geekschain.cn/1%E9%85%92%E5%8E%82%E7%8E%AF%E5%A2%83.jpg" class="glightbox"> 
                                                <img src="http://pic.geekschain.cn/1%E9%85%92%E5%8E%82%E7%8E%AF%E5%A2%83.jpg" alt="gm1">
                                            </a> 
                                            <div class="aetos-timeline__location"> 
                                                <img src="images/loacation.png" alt="location" class="aetos-timeline__gps"> 
                                                <span style="color: #fff;">贵州省遵义仁怀市 茅台镇</span> 
                                            </div> 
                                        </div> 
                                    </div> 
                                </li> <li>
                                    <div class="time-point"></div>
                                    <div class="aetos-timeline__content"> 
                                        <div class="aetos-timeline__tools"> 
                                            <span>酒厂环境</span> 
                                            <div class="weui-flex aetos-info__flex filehash">
                                                文件哈希值：
                                                <div class="file-hash">asdji56465ASDsdffgvasd324a</div>
                                            </div> 
                                            <p>创建日期：<span>2019-01-19</span></p> 
                                        </div> 
                                        <div class="aetos-timeline__source"> 
                                            <a href="http://pic.geekschain.cn/1%E9%85%92%E5%8E%82%E7%8E%AF%E5%A2%83.jpg" class="glightbox"> 
                                                <img src="http://pic.geekschain.cn/1%E9%85%92%E5%8E%82%E7%8E%AF%E5%A2%83.jpg" alt="gm1">
                                            </a> 
                                            <div class="aetos-timeline__location"> 
                                                <img src="images/loacation.png" alt="location" class="aetos-timeline__gps"> 
                                                <span style="color: #fff;">贵州省遵义仁怀市 茅台镇</span> 
                                            </div> 
                                        </div> 
                                    </div> 
                                </li> <li>
                                    <div class="time-point"></div>
                                    <div class="aetos-timeline__content"> 
                                        <div class="aetos-timeline__tools"> 
                                            <span>酒厂环境</span> 
                                            <div class="weui-flex aetos-info__flex filehash">
                                                文件哈希值：
                                                <div class="file-hash">asdji56465ASDsdffgvasd324a</div>
                                            </div> 
                                            <p>创建日期：<span>2019-01-19</span></p> 
                                        </div> 
                                        <div class="aetos-timeline__source"> 
                                            <a href="http://pic.geekschain.cn/1%E9%85%92%E5%8E%82%E7%8E%AF%E5%A2%83.jpg" class="glightbox"> 
                                                <img src="http://pic.geekschain.cn/1%E9%85%92%E5%8E%82%E7%8E%AF%E5%A2%83.jpg" alt="gm1">
                                            </a> 
                                            <div class="aetos-timeline__location"> 
                                                <img src="images/loacation.png" alt="location" class="aetos-timeline__gps"> 
                                                <span style="color: #fff;">贵州省遵义仁怀市 茅台镇</span> 
                                            </div> 
                                        </div> 
                                    </div> 
                                </li>


                            </ul>
                            <div class="aetos-timeline__item">

                            </div>
                        </div>
                    </div>
                    <!-- <div class="aetos-ft">
                        <a >
                            <div class="weui-flex backgd">
                            </div>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>

        
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/glightbox.js"></script>
        <script type="text/javascript" src="js/weui.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </div>

</body>

</html>
